/** @format */

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* html {
  height: 100%;
} */

body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

/* Add styles here! */
.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  margin-top: 0px;
  margin-left: -32px;
  padding: 16 32;
  width: fit-content;
  border-bottom: 7.5px solid hsl(45deg, 100%, 40%);
}

.card {
  background-color: hsl(0deg, 100%, 100%);
  padding: 8 24;
  line-height: 1.5;
  border-bottom: 8px solid hsl(0deg, 0%, 70%);
}

header strong {
  color: hsl(160deg, 100%, 30%);
  /* height: 100%; */
}

.intro-chunk {
  max-width: 350px;
  padding-top: 40;
  padding-bottom: 64;
  padding-left: 24;
  line-height: 1.5;
}

.intro-chunk h1 {
  padding-bottom: 16px;
}
main {
  background-color: hsl(0deg, 0%, 50%);
  padding-top: 64px;
  min-height: 100%;
  border-top: 8px solid hsl(0deg, 0%, 70%);
}

.max-width-wrapper {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
